@page
@model RazorBlog.Pages.ArticleDetailsModel
@{
}

 <div >
       
           <img src = "~/images/project/@Model.Project.Image" />
       
        <div  class="card">
           <h5 class="card-title"> @Model.Project.Name  </h5>
       
           <p class="card-text" > @Model.Project.Body  </p>
      
           
       </div>
       </div>

